# Ambientes virtuais Python
.venv/
venv/
env/
myvenv/
.myvenv/
myenv/
.myenv/


# Modelos pesados
*.dat
*.so
*.h5
*.ckpt

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

.vscode
fotos/
estranho
info.txt
.desktop
.md
estranhos/
VARIADOS CASCADES/
Site/
detector_smile.py
ideias.md
README 2.md
teste.py
teste2.py
USER_E_SENHA.txt


# SUBSCREVER O GIT
# git rm -r --cached .
# git add .
# git commit -m "Adiciona .gitignore e limpa arquivos ignorados"
# git push -u origin main --force
