body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark .usuario {
  background-color: #1e1e1e;
  border-color: #444;
}


h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    padding: 8px;
    margin-right: 8px;
    margin-top: 5px;
}

button {
    cursor: pointer;
}

body.dark h1,
body.dark h2 {
  color: #eee;
}

body.dark input,
body.dark select,
body.dark button {
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
}

body.dark form {
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
}

input, select, button, body, form {
  transition: background-color 0.3s, color 0.3s;
}

.caixa-fixa {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: monospace;
  font-size: 14px;
  background: #f3f3f3;
  color: #000;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark .caixa-fixa {
  background: #222;
  color: #fff;
  border-color: #444;
}

/* Botão do modo escuro */
.modo-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;

  background-color: transparent;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;

  font-family: inherit;
  font-size: 22px;
  color: inherit;

  padding: 8px;
  margin: 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modo-btn:hover {
  background-color: rgba(255, 255, 255, 0.1); /* ou ajuste para dark */
}


/* Base para todos os LEDs */
.led {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #333;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

/* Estado ligado (verde) */
.led.on {
  background: green;
}

/* Estado desligado (vermelho) */
.led.off {
  background: red;
}

#historico-container {
  margin: 20px 0;
  padding-left: 15px;
  font-family: Arial, sans-serif;
  border: 1px solid #333;
  background: rgba(199, 198, 198, 0.5);
}
#historico-list {
  list-style: none;
  padding: 0 4px;
  padding-left: 15px;
  margin-right: 6px;
}
#historico-list li {
  padding: 4px 4px;
  border-bottom: 1px solid #ddd;
}

