<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gerenciador de Acesso</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  <style>
    /* Estilização do LED */
    .led { width: 20px; height: 20px; border-radius: 50%; margin-bottom: 10px; border: 1px solid #333; }
    .led.on { background: green; }
    .led.off { background: red; }

    .usuario { background: #fff; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px; }
    .usuario.ativo { border-left: 5px solid green; }
    .usuario.inativo { border-left: 5px solid red; opacity: 0.4; }
  </style>
  <style>

  .btn-liberar {
    background-color: rgba(107, 185, 107, 0.3); /* verde claro transparente */
    border: 1px solid #096809;
    color: #000000;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-liberar:hover {
    background-color: rgba(57, 211, 57, 0.5);
  }

  .btn-remover {
    background-color: rgba(255, 0, 0, 0.2); /* vermelho transparente */
    border: 1px solid #ff0000;
    color: #000000;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-remover:hover {
    background-color: rgba(255, 0, 0, 0.4);
  }

  .btn-negar {
    background-color: rgba(255, 0, 0, 0.2); /* vermelho transparente */
    border: 1px solid #ff0000;
    color: #000000;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-negar:hover {
    background-color: rgba(255, 0, 0, 0.4);
  }

  .btn-salvar {
  background-color: rgba(107, 185, 107, 0.3); /* verde claro transparente */
  border: 1px solid #096809;
  color: #000000;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

  .btn-salvar:hover {
    background-color: rgba(57, 211, 57, 0.5);
  }


  .btn-toggleSystem {
    background-color: lch(96.1% 95.76 101.84 / 0.3); /* verde claro transparente */
    border: 1px solid #0a0a0a;
    color: #000000;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-toggleSystem:hover {
    background-color: rgba(176, 201, 34, 0.5);
  }

  .btn-toggleUser {
    background-color: rgba(87, 86, 86, 0.2); /* vermelho transparente */
    border: 1px solid #000000;
    color: #000000;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-toggleUser:hover {
    background-color: rgba(49, 49, 49, 0.4);
  }

  .campo {
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  .camera-container { position: relative; display: inline-block; }
  .camera-legend {
    position: absolute;
    top: 8px; right: 8px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: .9rem;
    padding: 4px 8px;
    border-radius: 4px;
    pointer-events: none;
    display: none;            /* começa oculta */
  }

</style>

</head>

  <body>
    <!-- Caixa fixa no canto esquerdo superior com botão -->
    <button id="botaoModo" onclick="alternarModoEscuro()" class="modo-btn">🌙</button>


    <!-- Caixa no canto direito superior com IP -->
    <div class="caixa-fixa" style="left: auto; right: 10px;">
      IP do Servidor: {{ ip_server }}
      <br><br>
      <form action="/logs" method="get" target="_blank">
        <button style="padding: 10px; background-color: #4CAF50; color: white; font-weight: bold; border: none; border-radius: 5px; cursor: pointer;">
          Ver Logs do Sistema
        </button>
      </form>
    </div>

    <h1 style="margin-top: 60px;">Gerenciador de Acesso</h1>

  <div class="status-panel">
    <div class="status-item">
      <div id="led-system" title="Indica que o sistema está ativo e pronto para liberar acessos" class="led {{ 'on' if system_active else 'off' }}"></div>
      <span>Sistema</span>
    </div>
    <div class="status-item">
      <div id="led-motion" title="Indica que houve um movimento detectado pelo sensor" class="led {{ 'on' if motion else 'off' }}"></div>
      <span>Movimento</span>
    </div>
    <div class="status-item">
      <div id="led-release" title="Indica que haverá uma abertura no próximo movimento detectado" class="led {{ 'on' if system_release else 'off' }}"></div>
      <span>Abertura Agendada</span>
    </div>
    
  <div id="buscar" style="display: block;"> 
    <button class="btn-toggleSystem" title="Busca camera na rede" onclick="findCam()">Buscar Câmera</button>
  </div>


  <!-- Controles do sistema -->
  <div id="Controles">
    <h3>Controles</h3>
    <div id="mensagemStatus" style="color: red; font-weight: bold;"></div>
    <button class="btn-toggleSystem" id="botaoSistema" title="Alterna o sistema entre ligado ou desligado" onclick="alternarSistema()">ON/OFF Sistema</button> <!-- Corrigido o ID -->
    <p/p>
    <button class="btn-liberar" title="Agenda uma abertura automática para o próximo movimento" onclick="liberarAcesso()">Agendar Abertura</button>
    <button class="btn-negar" title="Cancela qualquer abertura automática agendada" onclick="negarAcesso()">Cancelar Abertura</button>

<div id="camera-container" class="camera-container">
  <div id="camera-legend" class="camera-legend">LIVE</div>
  <img
    id="camera-stream"
    src=""
    width="100%"
    style="max-width: 500px; border-radius: 8px;"
  >
</div>
<div id="mensagemStatus"></div>

<div id="controle" style="display: none;">
  <button class="btn-toggleSystem" title="Alterna entre LIVE ou RECONHECIMENTO"  onclick="alternarModoStream()">Alternar Stream</button>
  <button class="btn-toggleSystem" title="Captura uma foto com flash do exato momento" onclick="alternarModoCamera()">📸</button>
  <button class="btn-liberar" title="Liga o led da camera" onclick="toggleLed(true)">Ligar LED</button>
  <button class="btn-negar" title="Desliga o led da camera" onclick="toggleLed(false)">Desligar LED</button>
  <div
    id="led-led"
    title="Indica o estado do led da camera"
    class="led {{ 'on' if led else 'off' }}"
  ></div>
</div>

    <p></p>

  <div style="display: flex; align-items: center; gap: 10px;">
    <h3 style="margin: 0;">Lista de usuários</h3>
    <button class="campo" id="botaoLista" title="Oculta ou mostra  lsita de usuários" onclick="alternarLista()">
      <i id="iconeOlho" class="fas fa-eye"></i>
    </button>
  </div>

  <p></p>

  <div id="usuarios" style="display: none; margin-top: 10px;">
  </div>
    

  <!-- Formulário de cadastro -->
  <div id="formulario">
    <h3>Novo Usuário</h3>
    <div id="mensagemErro" style="color: red; font-weight: bold;"></div>
    <input class="campo" type="text" id="nome" placeholder="Nome" />
    <input class="campo" type="text" id="rfid" placeholder="UID do Cartão" />
    <select class="campo" id="classe" onchange="toggleVigenciaCampos()">
      <option value="USER">Usuário</option>
      <option value="CONV">Convidado</option>
    </select>
    
    <button class="campo" onclick="adicionarUsuario()">Adicionar</button>
    <p/>
    <div id="vigenciaCampos" style="display:none;">
      <label>Início:
        <input class="campo" type="datetime-local" id="inicio" value="${formatDatetimeLocal(inicio)}">
      </label><br>
      <label>Fim:
        <input class="campo" type="datetime-local" id="fim" value="${formatDatetimeLocal(fim)}">
  
    </div>

    <div id="historico-container">
      <h3>Histórico de Leituras</h3>
      
      <ul id="historico-list"></ul>
    </div>

    <script>
      const BASE_URL = window.location.origin; 


      let modoCaptura = false;  // false = vídeo, true = captura
      let gerarStream = false;
      let ipCamera = "{{ camera_base }}";  // Flask vai preencher com o IP correto

      const legend      = document.getElementById("camera-legend");
      const img   = document.getElementById("camera-stream");
      const statusMsg   = document.getElementById("mensagemStatus");

      function setLegend(text) {
        legend.textContent = text;
        legend.style.display = "block";
        img.style.display = "block";
      }

      function hideLegend() {
        legend.style.display = "none";
        img.style.display = "none";
      }

      // Carrega o vídeo interno assim que a página abre
      document.addEventListener("DOMContentLoaded", () => {
        img.src = "http://" + ipCamera + ":81/stream";
        showLegend("LIVE");
      });

      function alternarModoCamera() {
        const img = document.getElementById("camera-stream");
        img.src = "";
        img.src = "";
        img.src = "";
        modoCaptura = true;
    
        img.src = "http://" + ipCamera + "/capture?" + new Date().getTime();
        setLegend("FOTO");
        document.getElementById('led-led').className = 'led off';
      
        // img.src = "/video";
        // setLegend("RECONHECIMENTO");
      }

      function alternarModoStream() {
        const img = document.getElementById("camera-stream");
        img.src = "";
        img.src = "";
        modoCaptura = false;
        if (gerarStream) {
          img.src = "";
          img.src = "http://" + ipCamera + ":81/stream";
          img.src = "http://" + ipCamera + ":81/stream";
          setLegend("LIVE");
          fetch("/set_stream_mode", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: "modo=off"
          });
        } else {
          img.src = "";
          img.src = "";
          img.src = "/video";
          img.src = "/video";
          setLegend("RECONHECIMENTO");
          fetch("/set_stream_mode", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: "modo=on"
          });
          //location.reload();
        }
        gerarStream = !gerarStream;
      }

      function findCam() {
    
        // Criar o <img> dinamicamente
        const container = document.getElementById("camera-container");
        let existingImg = document.getElementById("camera-stream");
        
        document.getElementById("mensagemStatus").textContent = "Procurando aguarde...";
        console.log("Procurando aguarde...");

        fetch('/findcam')
          .then(response => response.json())
          .then(data => {

            if (data.camera_stream) {
              console.log("Câmera encontrada:", data.camera_stream);
              //document.getElementById("mensagemStatus").textContent = "Atualize a página!";
              location.reload();

              
              if (existingImg) existingImg.remove(); // remove se já existir

              const img = document.createElement("img");
              img.id = "camera-stream";
              img.src = data.camera_stream + "?" + new Date().getTime(); // força cache busting
              img.alt = "Stream da câmera";
              img.style.width = "100%";

              container.appendChild(img);
              location.reload(); // Força o recarregamento completo
          
            } else {
              document.getElementById("mensagemStatus").textContent = "Câmera não encontrada.";
            }
          })
          .catch(err => {
            console.error("Erro:", err);
            document.getElementById("mensagemStatus").textContent = "Erro ao procurar câmera.";
          });
      }

      function loadHistoryFromServer() {
        return fetch('/historico')
          .then(res => res.json())
          .catch(err => {
            console.error('Erro ao carregar histórico:', err);
            return [];
          });
      }

      function addHistory() {
        renderHistory();
      }
      
      function renderHistory() {
        loadHistoryFromServer().then(list => {
          const ul = document.getElementById('historico-list');
          ul.innerHTML = '';
          list.slice(0, 20).forEach(entry => {
            const li = document.createElement('li');
            li.textContent =
              `${entry.uid} — ${entry.nome} — ${entry.hora}` +
              (entry.status === 'denied'
                ? ` — ❌ ${entry.motivo || entry.reason || ''}`
                : ` — ✅ ${entry.motivo || entry.reason || ''}`);
            ul.appendChild(li);
          });
        });
      }


      function startPollingRFID() {
        const BASE = window.location.origin;
        setInterval(() => {
          fetch(`${BASE}/rfid`)
            .then(res => {
              if (res.status === 204) return {};
              return res.json();
            })
            .then(data => {
              if (!data.uid) return;
              // adiciona sempre, mesmo que access==='denied'
              addHistory(
                formatRFID(data.uid),
                data.user ? data.user.nome : 'DESCONHECIDO',
                data.access,          // opcional: para mostrar liberado/negado
                data.reason || ''     // opcional: motivo da negação
              );
            })
            .catch(console.error);
        }, 1000);
      }

      let sistemaAtivo = false;

      function alternarSistema() {
        fetch('/toggle', { method: 'POST' })
          .then(response => response.json())
          .then(data => {
            sistemaAtivo = data.ativo;
            document.getElementById('mensagemStatus').textContent = ''; // limpa erro

            // Atualiza LED
            const led_system = document.getElementById('led-system');
            const led_release = document.getElementById('led-release');
            const led_led = document.getElementById('led-led');

            led_system.className = 'led ' + (sistemaAtivo ? 'on' : 'off');

            if (sistemaAtivo) {
            } else {
              led_release.className = 'led off';
              led_led.className = 'led off';
            }

          })
          .catch(error => {
            console.error('Erro ao alternar o sistema:', error);
          });
      }

      function toggleLed(on) {
        const url = on ? '/led/on' : '/led/off';
        fetch(url)
          .then(res => res.json())
          .then(j => {
            const img = document.getElementById("camera-stream");
            if (modoCaptura) {
              // Muda para stream
              gerarStream = false
              img.src = "";
              img.src = "";
              img.src = "http://" + ipCamera + ":81/stream";
              img.src = "http://" + ipCamera + ":81/stream";
              setLegend("LIVE");
              fetch("/set_stream_mode", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: "modo=off"
              });
            }

            if (j.status === 200) {
              const led = document.getElementById('led-led');
              led.className = 'led ' + (on ? 'on' : 'off');
              //alert(on ? 'LED ligado!' : 'LED desligado!');
            } else {
              alert('Erro: ' + (j.error || j.status));
            }
          })
          .catch(err => alert('Falha na chamada: ' + err));
      }

      function formatRFID(raw) {
        // Remove tudo que não for [0–9A–Fa–f]
        const clean = raw.replace(/[^0-9A-Fa-f]/g, '').toUpperCase();

        // Quebra em pares de dois caracteres
        const pairs = clean.match(/.{1,2}/g) || [];

        // Junta com espaço
        return pairs.join(' ');
      }

      function carregarUsuarios() {
        fetch('/users')
          .then(res => res.json())
          .then(data => {
            const cont = document.getElementById('usuarios');
            cont.innerHTML = '';
            data.forEach(u => {
              const div = document.createElement('div');
              div.className = 'usuario ' + (u.ativo === false ? 'inativo' : 'ativo');

              if (u.classe === 'CONV') {
                div.innerHTML = `
                  <strong>${u.nome}</strong> (${u.rfid}) - CONV<br>
                  <label> Início:
                    <input type="datetime-local" id="inicio-${u.id}" value="${formatDatetimeLocal(u.inicio)}">
                  </label><br>
                  <label> Fim:
                    <input type="datetime-local" id="fim-${u.id}" value="${formatDatetimeLocal(u.fim)}">
                  </label><br>
                  <button class="btn-salvar" title="Salva o período configurado para o convidado" onclick="salvarTempo(${u.id})">Salvar Tempo</button><br>
                  <button class="btn-remover" title="Remove o usuário permanentemente" onclick="removerUsuario(${u.id})">Remover</button>
                  <button class="btn-toggleUser" title="Desativa o usuário até que seja ativo novamente" onclick="toggleUsuario(${u.id})">${u.ativo === false ? 'Reativar' : 'Desativar'}</button>
                `;
              } else {
                div.innerHTML = `
                  <strong>${u.nome}</strong> (${u.rfid}) - ${u.classe || 'PADRAO'}<br>
                  <button class="btn-remover" title="Remove o usuário permanentemente" onclick="removerUsuario(${u.id})">Remover</button>
                  <button class="btn-toggleUser" title="Desativa o usuário até que seja ativo novamente" onclick="toggleUsuario(${u.id})">${u.ativo === false ? 'Reativar' : 'Desativar'}</button>
                `;
              }

              cont.appendChild(div);
            });
          })
          .catch(err => console.error('Erro ao carregar usuários:', err));
      }

      function formatDatetimeLocal(dateStr) {
        if (!dateStr) return '';
        return dateStr.replace(' ', 'T').slice(0, 16);
      }

      function salvarTempo(id) {
        const inicio = document.getElementById(`inicio-${id}`).value;
        const fim = document.getElementById(`fim-${id}`).value;

        fetch(`/users/${id}/update_time`, {
          method: 'PATCH',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({ inicio, fim })
        })
          .then(res => res.json())
          .then(data => {
            if (data.error) {
              alert('Erro: ' + data.error);
            } else {
              //alert('Tempo atualizado com sucesso!');
              carregarUsuarios();
            }
          })
          .catch(() => alert('Erro na requisição'));
      }


      // Adicionar usuário
      function adicionarUsuario() {
        const nome = document.getElementById('nome').value;
        const rawRFID  = document.getElementById('rfid').value;
        const rfid   = formatRFID(rawRFID); 
        const classe = document.getElementById('classe').value;
        const inicio = document.getElementById('inicio').value;
        const fim = document.getElementById('fim').value;

        // Limpa mensagens anteriores
        document.getElementById('mensagemErro').textContent = '';

        fetch('/add_user', {
          method: 'POST',
          headers: {'Content-Type': 'application/x-www-form-urlencoded'},
          body: new URLSearchParams({ nome, rfid, classe, inicio, fim })
        })
        .then(response => {
          if (response.status === 409) {
            document.getElementById('mensagemErro').textContent = 'Usuário já está cadastrado!';
          } else if (!response.ok) {
            document.getElementById('mensagemErro').textContent = 'Nome e RFID são obrigatórios.';
          } else {
            carregarUsuarios(); // Atualiza lista
            document.getElementById('nome').value = '';
            document.getElementById('rfid').value = '';
            document.getElementById('mensagemErro').textContent = ''; // Limpa erro se sucesso
          }
        })
        .catch(error => {
          document.getElementById('mensagemErro').textContent = 'Erro na requisição.';
          console.error(error);
        });
      }

      // Remover usuário
      function removerUsuario(id) {
        if (!confirm("Tem certeza que deseja remover este usuário?")) return;
        fetch(`/delete_user/${id}`, { method:'POST' })
          .then(() => carregarUsuarios());
      }


      // Ativar/Desativar usuário
      function toggleUsuario(id) {
        fetch(`/users/${id}/toggle`, { method:'PATCH' })
          .then(() => carregarUsuarios());
      }

      function toggleVigenciaCampos() {
        const classe = document.getElementById('classe').value;
        const campos = document.getElementById('vigenciaCampos');
        // Limpa mensagens anteriores
        document.getElementById('mensagemErro').textContent = '';
        if (classe === 'CONV') {
          campos.style.display = 'block';
        } else {
          campos.style.display = 'none';
        }
      }
      // chamar no load da página
      document.addEventListener('DOMContentLoaded', toggleVigenciaCampos);


      // Liberar acesso remoto
      function liberarAcesso() {
        if (!sistemaAtivo) {
          document.getElementById('mensagemStatus').textContent = 'Não é possível liberar acesso com o sistema desligado.';
          return;
        }

        document.getElementById('mensagemStatus').textContent = ''; // limpa erro

        fetch('/liberar', { method: 'POST' })
          .then(res => res.json())
          .then(d => {
            document.getElementById('led-release').className = 'led on';
            releaseLigado = true;
          })
          .catch(error => {
            console.error('Erro ao liberar acesso:', error);
            document.getElementById('mensagemStatus').textContent = 'Erro ao tentar liberar o acesso.';
          });
      }


      function carregarStatusSistema() {
        fetch('/status')
          .then(response => response.json())
          .then(data => {
            sistemaAtivo = data.ativo;
            motion = data.motion;
            release = data.release;

            // Texto do botão
            document.getElementById('botaoSistema').innerText = sistemaAtivo ? 'ON/OFF Sistema' : 'ON/OFF Sistema';
          
            // Atualiza o LED de sistema
            const led_system = document.getElementById('led-system');
            const led_release = document.getElementById('led-release');
            const led_motion = document.getElementById('led-release');
            led_system.className = 'led ' + (sistemaAtivo ? 'on' : 'off');
            led_motion.className = 'led ' + (motion ? 'on' : 'off');
            led_release.className = 'led ' + (release ? 'on' : 'off');

            if (release) {
              document.getElementById('mensagemStatus').textContent = ''; // limpa erro
            }

          })
          .catch(error => {
            console.error('Erro ao obter status do sistema:', error);
          });
      }

  
      function negarAcesso() {
        fetch('/release/reset', { method: 'POST' })
          .then(res => res.json())
          .then(d => {
            // d.release === false
            const led = document.getElementById('led-release');
            led.className = 'led off';
          })
          .catch(err => console.error('Erro ao resetar release:', err));
      }
    
      function alternarModoEscuro() {
        const body = document.body;
        const botao = document.getElementById('botaoModo');
        const estaEscuro = body.classList.toggle('dark');
        localStorage.setItem('modoEscuro', estaEscuro ? 'on' : 'off');

        botao.textContent = estaEscuro ? '☀️' : '🌙';
      }


      function alternarLista() {
        const lista = document.getElementById('usuarios');
        const botao = document.getElementById('botaoLista');
        const icone = document.getElementById('iconeOlho');

        if (lista.style.display === 'none') {
          renderHistory();
          startPollingRFID();
          carregarStatusSistema();
          carregarUsuarios();
          lista.style.display = 'block';
          botao.innerHTML = '<i id="iconeOlho" class="fas fa-eye-slash"></i>';
          localStorage.setItem('Lista', 'on');
        } else {
          lista.style.display = 'none';
          botao.innerHTML = '<i id="iconeOlho" class="fas fa-eye"></i>';
          localStorage.setItem('Lista', 'off');
        }
      }

      window.onload = function () {
        const estado = localStorage.getItem('Lista');
        const lista = document.getElementById('usuarios');
        const botao = document.getElementById('botaoLista');

        if (estado === 'on') {
          lista.style.display = 'block';
          botao.innerHTML = '<i id="iconeOlho" class="fas fa-eye-slash"></i>';
        } else {
          lista.style.display = 'none';
          botao.innerHTML = '<i id="iconeOlho" class="fas fa-eye"></i>';
        }
      };


      function aplicarPreferenciaModoEscuro() {
        const preferencia = localStorage.getItem('modoEscuro');
        const botao = document.getElementById('botaoModo');

        if (preferencia === 'on') {
          document.body.classList.add('dark');
          if (botao) botao.textContent = '☀️';
        } else {
          document.body.classList.remove('dark');
          if (botao) botao.textContent = '🌙';
        }
      }


      document.addEventListener('DOMContentLoaded', aplicarPreferenciaModoEscuro);


    let releaseLigado = false;

    // Atualiza o LED de movimento e também desliga o LED de release se houver movimento
    setInterval(() => {
      fetch('/movimento')
        .then(res => res.json())
        .then(j => {
          const ledMov = document.getElementById('led-motion');
          ledMov.className = 'led ' + (j.movimento ? 'on' : 'off');

          // Se houve movimento, desliga o LED de release
          if (j.movimento && releaseLigado) {
            // Espera 5 segundos antes de desligar o LED de release
            setTimeout(() => {
              document.getElementById('led-release').className = 'led off';
              releaseLigado = false;
            }, 1000); // 5000 milissegundos = 5 segundos
          }
        });
    }, 1000);

    // Polling para ver se a liberação está ativa (mas só acende, não apaga)
    setInterval(() => {
      carregarStatusSistema();
      if (releaseLigado) return; // se já está ligado, não faz nada
      fetch('/liberar')
        .then(res => res.json())
        .then(j => {
          if (j.access === 'allowed') {
            document.getElementById('led-release').className = 'led on';
            document.getElementById('mensagemStatus').textContent = ''; // limpa erro
            releaseLigado = true;
          }
        });
    }, 1000);

    document.addEventListener('DOMContentLoaded', () => {
      const img = document.getElementById('camera-stream');
      const controle = document.getElementById('controle');
      const buscar = document.getElementById('buscar');

      img.addEventListener('load', () => {
        console.log("📸 Câmera carregada com sucesso.");
        controle.style.display = 'block';
        legend.style.display = "block";
        buscar.style.display = 'none';
      });

      img.addEventListener('error', () => {
        console.warn("⚠️ Falha ao carregar a câmera.");
        //controle.style.display = 'none';
        //buscar.style.display = 'block';
        const msg = document.getElementById('mensagemStatus');
        if (msg) msg.textContent = 'Não foi possível carregar a câmera.';
      });
    });


  // --- inicialização única, sem duplicar variáveis nem intervalos ---
  window.addEventListener('DOMContentLoaded', () => {
    renderHistory();
    startPollingRFID();
    carregarStatusSistema();
    carregarUsuarios();
  });
  </script>
</body>
</html>